/*
  Base
------------------------------------------------------*/
body {
  overflow: hidden;
}
.my-app {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
section {
  position: absolute;
  top: 50%; left: 50%;
  margin: -275px 0 0 -275px;  
  width: 550px; height: 550px;
}
h1 {
  color: #d8d6c3;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 2.33em; 
  font-weight: 300;
  line-height: 1.4;
  margin: 0;
  position: absolute;
  top: 25%; left: 0;
  text-align: center;
  width: 100%;
}
h1 span {
  display: block;
  font-size: .5em;
  font-weight: 100;
}
.more-info {
  position: absolute;
  bottom: 25%;
  left: 50%;
  margin-left: -75px;
  width: auto!important;
}

/*
  Planeta
------------------------------------------------------*/
.earth {
  background-image: url('../img/earth.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 550px; height: 550px;
}
.earth-shadow {
  background-image: url('../img/shadow.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 41%; left: 46%;
  width: 65px; height: 100px;
}

/*
  Orbitas
------------------------------------------------------*/
.orbit {
  position: absolute;
  top: 50%; left: 50%;
  margin: -275px 0 0 -275px;  
  width: 550px; height: 550px;
}

/*
  Satelites
------------------------------------------------------*/
.arsat-1 {
  background-image: url('../img/arsat-1.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 110px; height: 44px;
  position: absolute;
  left: -58px;
  top: 50%;
}
.arsat-1 span {
  position: absolute;
  top: 35px;
  left: 70px;
  font-size: 12px;
  width: 100%;
}

/*
  Footer
------------------------------------------------------*/
footer {
  margin: 0 2.5em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.social {
  position: absolute;
  right: 0;
  top: 0;
  list-style-type: none;
  margin: 0;
}
.social li {
  display: inline-block;
  margin-left: 5px;
}
.social .icon {
  font-size: 24px;
}

/*
  Modal
------------------------------------------------------*/
.modal {
  position: absolute;
  left: 55%;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%; max-width: 45%;
  border-radius: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  overflow-y: scroll;
}
.modal-header .modal-close {
  top: 17px; right: 17px;
}
.modal-show {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
.modal-showed {
  -webkit-transition: all 1.25s;
  transition: all 1.25s;
  right: 45%;
}

/*
  Modal Content
------------------------------------------------------*/
.details {
  margin: 2.5em 0;
}
.details li {
  border-right: 1px solid #EEE;
  display: inline-block;
  padding: 0 1em;
  list-style-type: none;
}
.details li:first-child {
  padding-left: 0; 
}
.details li:last-child {
  border: none;
  padding-right: 0;
}
.details .tit {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.details .num {
  line-height: 1;
  font-size: 2.2em;
  font-weight: 700;
}

/* Video */
.video {
  display: none;
  margin: 0 0 35px;
}
.video-show {
  display: block;
}

/* Links */
.external-links {
  display: none;
  margin: 0;
}
.external-links a {
  color: #999;
  display: inline-block;
  margin-right: 15px;
  font-size: 12px;
  text-transform: uppercase;
}
.external-links a:hover {
  color: #333;
}
.external-links .icon {
  font-size: 13px;
  margin-left: 2px;
}
.modal-show .external-links {
  display: block;
}

/*
  Animaciones
------------------------------------------------------*/
.earth {
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-name:orbit;
  -webkit-animation-duration:100s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
  -moz-animation-name:orbit;
  -moz-animation-duration:100s;
}
.orbit {
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-name:orbit;
  -webkit-animation-duration:100s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
  -moz-animation-name:orbit;
  -moz-animation-duration:100s;
}

/* Orbita */
@-webkit-keyframes orbit { 
  from { 
    -webkit-transform:rotate(0deg) 
  } to { 
    -webkit-transform:rotate(360deg) 
  } 
}
@-moz-keyframes orbit {
  from {
    -moz-transform:rotate(0deg)
  } to {
    -moz-transform:rotate(360deg)
  } 
}

/* Slides IN */
@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1000px);
    -ms-transform: translateX(1000px);
    transform: translateX(1000px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  .details {
    margin: 1.5em 0;
  }
  .details li {
    border: none;
    border-bottom: 1px solid #EEE;
    display: block;
    padding: .5em 0;
  }
  .details .num {
    font-size: 1.8em;
  }
}

@media (max-width: 940px) {
  /* Modal */
  .modal {
    left: 0;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 10pt;
  }

  /* Space */
  section, .orbit {
    margin: -155px 0 0 -155px;
    width: 310px;
    height: 310px;
  }
  h1 {
    top: 12%;
  }
  .more-info {
    bottom: 15%;
  }
  .earth {
    width: 310px;
    height: 310px; 
  }
  .earth-shadow {
    width: 36px;
    height: 80px;
  }
  .arsat-1 {
    left: -40px;
    height: 32px;
    width: 80px;
  }
  .video-show {
    width: 300px;
    height: 200px;
  }
}
